*.fits filter=lfs diff=lfs merge=lfs -text
*.fit filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
data/raw/** filter=lfs diff=lfs merge=lfs -text
data/processed/** filter=lfs diff=lfs merge=lfs -text
data/CEERS_PR/** filter=lfs diff=lfs merge=lfs -text
data/JADES_DDR_Z_GT_8_CATALOG_HAINLINE/** filter=lfs diff=lfs merge=lfs -text
